<div class="sticky-top topnav" [ngClass]="{'topnavopen': topnavopen}" id="myTopnav">
  <div id="navlinks">
    <a [hidden]="logueado" routerLink="/login" routerLinkActive="active">Login</a>
    <a [hidden]="!logueado" id="linkCourses" routerLink="/cursos" routerLinkActive="active">Cursos</a>
    <a routerLink="/angular" routerLinkActive="active">Angular</a>
    <a [hidden]="!admin" routerLink="/registro" routerLinkActive="active">Registro</a>
    <a [hidden]="!admin" routerLink="/admin" routerLinkActive="active">Admin</a>
    <a [hidden]="!admin" routerLink="/users" routerLinkActive="active">Usuarios</a>
    <a href="javascript:void(0);" [hidden]="!logueado" (click)="logout()">Logout</a>
  </div>
  <a href="javascript:void(0);" class="icon" (click)="openCloseMenu()">&#9776;</a>
</div>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
