<div class="row">
	<div class="col-lg-8 col-md-8 col-sm-8 titCant">
		<h2>Elija una cantidad</h2>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4">
		<div id="contctd">
			<input id="ctd" type="text" form="null" (change)='change($event)'>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div id="slider" class="contsli">
			<div id="regla" class="barra"></div>
			<div id="marcador" class="indicador"> </div>
		</div>
	</div>

       <input type="hidden" id="amount" class="form-control" name="cantidad">

</div>
